<html>
  <head>
  	<title>{{ title }} - microblog</title>
  </head>
  <body>
  	<h1>seattle bridges: what's up</h1>
  </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
<link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />


<style>

html, body {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
    }

#map {
    position:absolute;
    top:10;
    bottom:0;
    right:0;
    left:0;
    }
</style>



<style> #map_37de7ea5622745feb213d203ccce31e8 {
    position : relative;
    width : 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
    }
</style>



</head>
<body>
	<h1>{{ lat }}</h1>
  <div class="folium-map" id="map_37de7ea5622745feb213d203ccce31e8" ></div>
  <div id='sidebar-wrapper'>
  	<ul class='sidebar-nav'>
  	<li>test</li>
  	</ul>
  </div>
</body>


<script>
var southWest = L.latLng(-90, -180);
var northEast = L.latLng(90, 180);
var bounds = L.latLngBounds(southWest, northEast);

var map_37de7ea5622745feb213d203ccce31e8 = L.map('map_37de7ea5622745feb213d203ccce31e8', {
                               center:[47.5836,-122.375],
                               zoom: 11,
                               maxBounds: bounds,
                               layers: [],
                               crs: L.CRS.EPSG3857
                             });

var tile_layer_a9cf1e5bf7974a289e5f5fd8f8fb5d92 = L.tileLayer(
    'https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png',
    {
        maxZoom: 18,
        minZoom: 1,
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
        detectRetina: false
        }
    ).addTo(map_37de7ea5622745feb213d203ccce31e8);

function onClick(e) {
        console.log(e)
        var lat = console.log(this.getLatLng().lat);
        
        $.post("/results/{{lat}}",
    {
        name: "Donald Duck",
        city: "Duckburg"
    });

};


// var test = ''

var marker_4a5525b3eda24e2889f8646f2f5c6475 = L.marker(
    [47.57095,-122.348324],
    {
        icon: new L.Icon.Default(),
        name: 'Lower Spokane St'
        }
    )
    .addTo(map_37de7ea5622745feb213d203ccce31e8).on('click', onClick);

    var icon_1fba6a13713747aabd7eb0419c43de24 = L.AwesomeMarkers.icon({
        icon: 'ok',
        iconColor: 'white',
        markerColor: "{{ status_color['Lower Spokane St'] }}",
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
        });
    marker_4a5525b3eda24e2889f8646f2f5c6475.setIcon(icon_1fba6a13713747aabd7eb0419c43de24);


var popup_20ee29c12a024221bc488445922d8990 = L.popup({maxWidth: '300'});


    var html_916b794daad24cfc952c6bd322114790 = $('         <div id="html_916b794daad24cfc952c6bd322114790"                 style="width: 100.0%; height: 100.0%;">                 Lower Spokane St</div>                 ')[0];
    popup_20ee29c12a024221bc488445922d8990.setContent(html_916b794daad24cfc952c6bd322114790);

marker_4a5525b3eda24e2889f8646f2f5c6475.bindPopup(popup_20ee29c12a024221bc488445922d8990);


var marker_8daeb79c86f743e29c5b9af746764174 = L.marker(
    [47.65928,-122.376163],
    {
        icon: new L.Icon.Default(),
        name: 'Ballard'
        }
    )
    .addTo(map_37de7ea5622745feb213d203ccce31e8).on('click', onClick);

    var icon_7e3994187048457ab466ce1fc5d7f20b = L.AwesomeMarkers.icon({
        icon: 'ok',
        iconColor: 'white',
        markerColor: "{{ status_color['Ballard'] }}",
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
        });
    marker_8daeb79c86f743e29c5b9af746764174.setIcon(icon_7e3994187048457ab466ce1fc5d7f20b);

var popup_2b7043f556e04052a542905612ce78cd = L.popup({maxWidth: '300'});


    var html_747a8b54b9c24dc0a3722a54ea8e1459 = $('         <div id="html_747a8b54b9c24dc0a3722a54ea8e1459"                 style="width: 100.0%; height: 100.0%;">                 Ballard</div>                 ')[0];
    popup_2b7043f556e04052a542905612ce78cd.setContent(html_747a8b54b9c24dc0a3722a54ea8e1459);

marker_8daeb79c86f743e29c5b9af746764174.bindPopup(popup_2b7043f556e04052a542905612ce78cd);

var marker_5eefb186781f41608bfa9abd3268371f = L.marker(
    [47.652995,-122.320194],
    {
        icon: new L.Icon.Default(),
        name: 'Ballard'
        }
    )
    .addTo(map_37de7ea5622745feb213d203ccce31e8).on('click', onClick);

    var icon_f2102f559e2b4878b92ce22df35d4d86 = L.AwesomeMarkers.icon({
        icon: 'ok',
        iconColor: 'white',
        markerColor: "{{ status_color['University'] }}",
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
        });
    marker_5eefb186781f41608bfa9abd3268371f.setIcon(icon_f2102f559e2b4878b92ce22df35d4d86);

var popup_075696c7754c4b6d892a6b52391c8648 = L.popup({maxWidth: '300'});

    var html_83467d9338a14240a707d0d7a4ed3fec = $('         <div id="html_83467d9338a14240a707d0d7a4ed3fec"                 style="width: 100.0%; height: 100.0%;">                 University</div>                 ')[0];
    popup_075696c7754c4b6d892a6b52391c8648.setContent(html_83467d9338a14240a707d0d7a4ed3fec);


marker_5eefb186781f41608bfa9abd3268371f.bindPopup(popup_075696c7754c4b6d892a6b52391c8648);

var marker_a90e0f8341a34a148a5b8f87f109c1e2 = L.marker(
    [47.647857,-122.349867],
    {
        icon: new L.Icon.Default(),
        name: 'Fremont'
        }
    )
    .addTo(map_37de7ea5622745feb213d203ccce31e8).on('click', onClick);

    var icon_345c0b46f7444eb59f4ac67683926a53 = L.AwesomeMarkers.icon({
        icon: 'ok',
        iconColor: 'white',
        markerColor: "{{ status_color['Fremont'] }}",
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
        });
    marker_a90e0f8341a34a148a5b8f87f109c1e2.setIcon(icon_345c0b46f7444eb59f4ac67683926a53);

var popup_0348d62acd684613b99881445ace06f8 = L.popup({maxWidth: '300'});


    var html_c5dbc35c67a749ceb0f0f540618f01c0 = $('         <div id="html_c5dbc35c67a749ceb0f0f540618f01c0"                 style="width: 100.0%; height: 100.0%;">                 Fremont</div>                 ')[0];
    popup_0348d62acd684613b99881445ace06f8.setContent(html_c5dbc35c67a749ceb0f0f540618f01c0);


marker_a90e0f8341a34a148a5b8f87f109c1e2.bindPopup(popup_0348d62acd684613b99881445ace06f8);

var marker_370fc30055d441c098a6a3ca3c3bb306 = L.marker(
    [47.647296,-122.304577],
    {
        icon: new L.Icon.Default(),
        name: 'Montlake'
        }
    )
    .addTo(map_37de7ea5622745feb213d203ccce31e8).on('click', onClick);

    var icon_231e773bde3c42ba9d3595a65550558d = L.AwesomeMarkers.icon({
        icon: 'ok',
        iconColor: 'white',
        markerColor: "{{ status_color['Montlake'] }}",
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
        });
    marker_370fc30055d441c098a6a3ca3c3bb306.setIcon(icon_231e773bde3c42ba9d3595a65550558d);

var popup_32d11f4180c745ed859c927e80d897a5 = L.popup({maxWidth: '300'});

    var html_432b284abd384b629aef9bbb363afb8e = $('         <div id="html_432b284abd384b629aef9bbb363afb8e"                 style="width: 100.0%; height: 100.0%;">                 Montlake</div>                 ')[0];
    popup_32d11f4180c745ed859c927e80d897a5.setContent(html_432b284abd384b629aef9bbb363afb8e);

marker_370fc30055d441c098a6a3ca3c3bb306.bindPopup(popup_32d11f4180c745ed859c927e80d897a5);

var marker_955edb833c2146f7b40f091779a3fc6a = L.marker(
    [47.542049,-122.334541],
    {
        icon: new L.Icon.Default(),
        name: '1st Ave S'
        }
    )
    .addTo(map_37de7ea5622745feb213d203ccce31e8).on('click', onClick);

    var icon_c5b237271ecc4183b0bb239c602e29dd = L.AwesomeMarkers.icon({
        icon: 'ok',
        iconColor: 'white',
        markerColor: "{{ status_color['1st Ave S'] }}",
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
        });
    marker_955edb833c2146f7b40f091779a3fc6a.setIcon(icon_c5b237271ecc4183b0bb239c602e29dd);



var popup_b6e72f9a0d144d1cb353726b2a672e94 = L.popup({maxWidth: '300'});


    var html_d864dbec044d41a28a6e613cacd039bf = $('         <div id="html_d864dbec044d41a28a6e613cacd039bf"                 style="width: 100.0%; height: 100.0%;">                 1st Ave S</div>                 ')[0];
    popup_b6e72f9a0d144d1cb353726b2a672e94.setContent(html_d864dbec044d41a28a6e613cacd039bf);


marker_955edb833c2146f7b40f091779a3fc6a.bindPopup(popup_b6e72f9a0d144d1cb353726b2a672e94);

var marker_d0c3438cdb6b426e89751f044262f88e = L.marker(
    [47.529252,-122.314316],
    {
        icon: new L.Icon.Default(),
        name: 'South Park'
        }
    )
    .addTo(map_37de7ea5622745feb213d203ccce31e8).on('click', onClick);

    var icon_c7f7a43b23e8494cb378a0738258b493 = L.AwesomeMarkers.icon({
        icon: 'ok',
        iconColor: 'white',
        markerColor: "{{ status_color['South Park'] }}",
        prefix: 'glyphicon',
        extraClasses: 'fa-rotate-0'
        });
    marker_d0c3438cdb6b426e89751f044262f88e.setIcon(icon_c7f7a43b23e8494cb378a0738258b493);

var popup_8476ba093c134b13bb18fe7ff937a435 = L.popup({maxWidth: '300'});

    var html_212d72c5b0cd48eea7d826395858d068 = $('         <div id="html_212d72c5b0cd48eea7d826395858d068"                 style="width: 100.0%; height: 100.0%;">                 South Park</div>                 ')[0];
    popup_8476ba093c134b13bb18fe7ff937a435.setContent(html_212d72c5b0cd48eea7d826395858d068);

marker_d0c3438cdb6b426e89751f044262f88e.bindPopup(popup_8476ba093c134b13bb18fe7ff937a435);
</script>